@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Azeret Mono;
}

/* Header Style */
header {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headpart {
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px 221px;
}

.head-img {
    text-align: center;
}

.head-ti {
    width: 998px;
    height: 212px;
    margin-top: 32px;
}

.head-title {
    width: 998px;
    height: 136px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

.head-des {
    width: 852px;
    height: 52px;
    margin: 0 73px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.head-btn {
    text-align: center;
}

.contact-btn {
    width: 208px;
    height: 66px;
    color: white;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* why web style */
.why-web {
    width: 1140px;
    height: 1395px;
    margin: 80px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-dev {
    width: 946px;
    height: 1235px;
    margin: 80px 97px;
}

.web-head {
    width: 852px;
    height: 115px;
    margin: 0 48px;
    text-align: center;
}

.web-title {
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.web-des {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.do-to-section {
    width: 946px;
    height: 336px;
    margin: 32px 0;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.do-to-section-reverse {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.do-to {
    width: 850px;
    height: 240px;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.do-to-content {
    width: 477px;
    height: 220px;
    margin-top: 10px;
}

.do-to-title {
    width: 477px;
    height: 72px;
    margin-bottom: 16px;
    color: rgba(13, 19, 33);
    font-size: 24px;
    font-weight: 700;
}

.do-to-des {
    width: 468px;
    height: 52px;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.do-to-btn {
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
}

.do-to-btn a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.do-to-img {
    width: 274px;
    height: 240px;
}

/* my inspiration style */
.inspiration {
    width: 1140px;
    height: 777px;
    margin: 0 auto 149px;
}

.insp-head {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
}

.insp-title {
    width: 852px;
    height: 39px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.insp-des {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.insp-mid {
    width: 1140px;
    height: 610px;
    margin-top: 48px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 32px;
}

/* My current target style */
.target {
    width: 1140px;
    height: 460px;
    margin: 0 auto 60px;
}

.target-head {
    width: 946px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.target-title {
    width: 852px;
    height: 37px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.target-des {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.skills {
    width: 1140px;
    height: 299px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.skill-css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.skill-js {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05)
}

.skill-content {
    width: 284px;
    height: 219px;
    margin: 40px;
}

.skill-title {
    width: 284px;
    height: 36px;
    margin-bottom: 8px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.skill-des {
    width: 284px;
    height: 52px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.skill-content a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* support section style */
.support {
    width: 1140px;
    height: 314px;
    margin: 0 auto 80px;
    border-radius: 16px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    border: 1px solid;
}

.sup {
    width: 1044px;
    height: 186px;
    margin: 64px 48px;
}

.support-head {
    width: 730px;
    height: 104px;
    margin: 0 auto 24px;
    text-align: center;
}

.support-title {
    width: 292px;
    height: 36px;
    margin: 0 auto 16px;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.support-des {
    width: 606px;
    height: 52px;
    margin: 0 auto;
    color: white;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.sup-text {
    width: 684px;
    height: 58px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

textarea {
    border-radius: 5px;
}

textarea::placeholder {
    text-align: center;
}

input[type="submit"] {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 17px 20px;
}